@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

html {
  font-size: 62.5%;
}

body {
  margin: 0;
}

.App {
  margin-bottom: 20rem;
}